<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h2>Create new User</h2>

<div id="notice"></div>
<div id="new_user_form">
  <%= render 'form' %>
</div>
<br />
<%= link_to 'Back', users_path %>
