<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>Editing Item</h2>

<div id="notice"></div>
<div id="edit_item_form">
  <%= render 'form' %>
</div>
<%= link_to 'Back', items_path %>
