<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h2>Create new Item</h2>

<div id="notice"></div>
<div id="new_item_form">
  <%= render 'form' %>
</div>
<br />
<%= link_to 'Back', items_path %>
